{
  "extends": ["wesbos", "prettier"],
  "rules": {
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/no-access-state-in-setstate": 0,
    "react/jsx-props-no-spreading": 0,
    "no-useless-escape": 0,
    "no-console": 2,
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 120
      }
    ]
  },
  "settings": {
    "import/core-modules": ["carbon-components-react", "classnames", "gatsby-link", "@carbon/icons-react", "prop-types"]
  }
}
