.custom-card-group {
  display: flex;

  @media (max-width: 640px) {
    display: block;
  }

  &:first-child {
    margin-top: 6rem;
  }

  &__third {
    flex: 0 0 calc(100% / 3);
  }

  &__half-height {
    display: flex;
    height: 50%;

    @media (max-width: 640px) {
      display: block;
    }
  }

  &__flex-helper {
    flex: 1 1 50%;
  }

  @media (max-width: 640px) {
    .collapse-on-mobile {
      display: none;
    }
  }
}
