$rectangleSize: 16px;

.decor-animation-trigger {
  .decor-target {
    opacity: 0.3;
    animation: pulse-out 0.8s;
  }

  &:hover {
    .decor-target {
      animation: pulse 3s infinite 3s alternate;
      animation-direction: alternate;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 1s;
      }

      &:nth-child(3) {
        animation-delay: 1.5s;
      }

      &:nth-child(4) {
        animation-delay: 2s;
      }

      &:nth-child(5) {
        animation-delay: 2.5s;
      }

      &:nth-child(6) {
        animation-delay: 3s;
      }

      &:nth-child(7) {
        animation-delay: 3.5s;
      }

      &:nth-child(8) {
        animation-delay: 4s;
      }

      &:nth-child(9) {
        left: calc(49px - 207px);
        top: calc(1044px - 1044px);
        height: 512px;
        width: 512px;
        animation-delay: 4.5s;
      }
    }
  }
}

.oval-decor {
  position: relative;
  height: 100%;

  &__inner {
    position: relative;
    width: 1024px;
    height: 512px;
    top: 68px;
    left: -128px;

    .oval-item {
      position: absolute;
      box-sizing: border-box;
      border: 2px solid #c31d64;
      border-radius: 100%;

      &:nth-child(1) {
        left: calc(305px - 207px);
        top: calc(1044px - 1044px);
        height: 512px;
        width: 512px;
      }

      &:nth-child(2) {
        left: calc(-207px - 207px);
        top: calc(1044px - 1044px);
        height: 512px;
        width: 512px;
      }

      &:nth-child(3) {
        left: calc(305px - 207px);
        top: calc(1268px - 1044px);
        height: 64px;
        width: 64px;
      }

      &:nth-child(4) {
        left: calc(177px - 207px);
        top: calc(1268px - 1044px);
        height: 64px;
        width: 64px;
      }

      &:nth-child(5) {
        left: calc(241px - 207px);
        top: calc(1236px - 1044px);
        height: 128px;
        width: 128px;
      }

      &:nth-child(6) {
        left: calc(305px - 207px);
        top: calc(1236px - 1044px);
        height: 128px;
        width: 128px;
      }

      &:nth-child(7) {
        left: calc(49px - 207px);
        top: calc(1172px - 1044px);
        height: 256px;
        width: 256px;
      }

      &:nth-child(8) {
        left: calc(305px - 207px);
        top: calc(1172px - 1044px);
        height: 256px;
        width: 256px;
      }

      &:nth-child(9) {
        left: calc(49px - 207px);
        top: calc(1044px - 1044px);
        height: 512px;
        width: 512px;
      }
    }
  }
}

.rectangle-decor {
  position: relative;
  height: 100%;

  &__inner {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 74px;
    left: 20px;

    .rectangle-item {
      position: absolute;
      height: 125.5px;
      width: 125.5px;
      border: 1px solid #0062ff;

      &:nth-child(1) {
        width: $rectangleSize;
        height: $rectangleSize;
        top: calc(#{$rectangleSize} * 4);
        left: calc(#{$rectangleSize} * 4);
      }

      &:nth-child(2) {
        width: calc(#{$rectangleSize} * 2);
        height: calc(#{$rectangleSize} * 2);
        top: calc(#{$rectangleSize} * 4);
        left: calc(#{$rectangleSize} * 4);
      }

      &:nth-child(3) {
        width: calc(#{$rectangleSize} * 4);
        height: calc(#{$rectangleSize} * 4);
        top: calc(#{$rectangleSize} * 4);
        left: calc(#{$rectangleSize} * 4);
      }

      &:nth-child(4) {
        width: calc((#{$rectangleSize} * 4) + 1px);
        height: calc((#{$rectangleSize} * 4) + 1px);
      }

      &:nth-child(5) {
        width: calc(#{$rectangleSize} * 8);
        height: calc(#{$rectangleSize} * 8);
      }

      &:nth-child(6) {
        width: calc((#{$rectangleSize} * 8) + 1px);
        height: calc((#{$rectangleSize} * 8) + 1px);
        top: calc((#{$rectangleSize} * 8) - 1px);
        left: calc((#{$rectangleSize} * 8) - 1px);
      }

      &:nth-child(7) {
        width: calc(#{$rectangleSize} * 16);
        height: calc(#{$rectangleSize} * 16);
      }

      &:nth-child(8) {
        width: calc(#{$rectangleSize} * 16);
        height: calc(#{$rectangleSize} * 16);
        top: calc((#{$rectangleSize} * -16) + 1px);
        left: calc((#{$rectangleSize} * 16) - 1px);
      }
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes pulse-out {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}
