.headerShadow .headerNameShadow {
  @include type-style('body-short-02');
  transition: opacity $duration-fast-02 $standard-easing;
  color: $inverse-01;
  text-decoration: none;
  left: 3rem;
  white-space: nowrap;
  height: 1.375rem;
  border-top: 1px solid transparent;
  display: table-cell;

  &:focus {
    outline: 2px solid $inverse-01;
    outline-offset: -2px;
  }

  @media (max-width: 640px) {
    &.collapsed {
      display: none;
    }
  }
}

.headerShadow .headerNameShadow span {
  font-weight: 600;
}
