.customCard {
  height: 100%;
  min-height: 10rem;
  margin: 0 1px;
  padding-bottom: 2px;

  a {
    text-decoration: none;
  }

  svg {
    fill: #0f62fe;
  }
}

.customCardTitle {
  margin-bottom: 64px;
  color: #161616;
}

.customCardContent {
  flex: 1 0 auto;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 24px;
  color: #393939;
}

.customCardContentDecorator {
  .customCardTitle {
    z-index: 1;
  }

  .customCardIcon {
    display: none;
  }

  .customCardContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    overflow: hidden;
    z-index: 0;
  }
}

.customCardInner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--cds-spacing-05, 1rem) 10% var(--cds-spacing-05, 1rem) var(--cds-spacing-05, 1rem);
  text-decoration: none;
  transition: background 70ms;
  background: var(--cds-ui-background, #ffffff);

  &:hover {
    background: var(--cds-hover-ui, #e5e5e5);
  }

  &.customCardDark {
    background: #262626;

    &:hover,
    &:focus {
      background-color: #353535;
    }

    .customCardTitle {
      color: #f4f4f4;
    }

    .customCardContent {
      color: #c6c6c6;
    }
  }
}
