.customCard {
  height: 100%;
  min-height: 10rem;
  margin-left: 1px;
  padding-bottom: 1px;

  svg {
    fill: #0f62fe;
  }
}

.customCardInner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--cds-spacing-05, 1rem) 10% var(--cds-spacing-05, 1rem) var(--cds-spacing-05, 1rem);
  text-decoration: none;
  transition: background 70ms;
  background: var(--cds-ui-background, #ffffff);
}

.customCardTitle {
  margin-bottom: 64px;
  color: #161616;
}

.customCardContent {
  flex: 1 0 auto;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 24px;
  color: #393939;
}
