.title {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 16px 16px 14px 16px;
  color: #161616;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f4f4f4;
  list-style-type: none;

  &:hover {
    background-color: #f4f4f4 !important;
  }
}

.sideNav {
  padding-top: 0 !important;

  :global(.bx--side-nav__items) {
    padding: 0;
  }

  :global(.bx--side-nav__header-navigation) {
    margin: 1rem 0;
  }
}

:global(.bx--side-nav--emptycontent .bx--side-nav__header-navigation) {
  display: block !important;
}

:global(.bx--side-nav .bx--header__menu-title[aria-expanded='true'] + .bx--header__menu a.bx--header__menu-item) {
  padding-left: 32px !important;
}
