.tile:global(.#{$prefix}--tile) {
  display: flex;
  margin: 0 -8px;
  padding: $spacing-03;
}

.content {
  padding-left: $spacing-05;
}

.tag {
  margin-left: $spacing-03 !important;
}

.title {
  display: flex;
  align-items: center;
  padding-bottom: $spacing-03;

  & > span:global(.#{$prefix}--tag) {
    margin-left: $spacing-03;
  }
}

.wrapper {
  &:not(:first-of-type),
  &:not(:last-of-type) {
    margin: $spacing-05 0;
  }
}

.imageWrapper {
  flex: 0 0 96px;
}

.image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
