.fields {
  display: flex;
}

.dropdown {
  min-width: 40%;

  div:global(.#{$prefix}--dropdown) {
    border-right: 1px solid #161616;

    &:global(.#{$prefix}--dropdown--disabled) {
      border-right-color: transparent !important;
    }
  }
}
